html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 75%;
  height: 250px;
}
.box {
  background: black;
  border: 2px solid white;
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.ring {
  background: white;
  height: 25px;
}

.ring1 {
  width: 10%;
}
.ring2 {
  width: 30%;
}
.ring3 {
  width: 50%;
}
.info {
  width: 100%;
}
.levels {
  width: 100%;
  display: flex;
  justify-content: center;
}
.levels > * {
  margin: 5px;
}
.bttns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
